@font-face {
  font-family: 'Moderat';
  src: local('Moderat Bold'), url('https://www.klausapp.com/assets/fonts/moderat_bold-webfont.215b36ce.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}